--
-- PostgreSQL database dump
--

\restrict qA7N1idtmC78brr4OfmJoDs9srdKEK2d0CfcoxVI9ADwhBrPbKPnf3VMaY0WC4e

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: exercises; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercises (
    id integer NOT NULL,
    name text NOT NULL,
    video_url text,
    description text
);


ALTER TABLE public.exercises OWNER TO postgres;

--
-- Name: exercises_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.exercises_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exercises_id_seq OWNER TO postgres;

--
-- Name: exercises_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.exercises_id_seq OWNED BY public.exercises.id;


--
-- Name: exercises_in_programs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercises_in_programs (
    id integer NOT NULL,
    program_content_id integer NOT NULL,
    exercise_id integer NOT NULL,
    sets integer NOT NULL,
    first_set_rep_count integer,
    weight real,
    week_day integer NOT NULL
);


ALTER TABLE public.exercises_in_programs OWNER TO postgres;

--
-- Name: exercises_in_programs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.exercises_in_programs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exercises_in_programs_id_seq OWNER TO postgres;

--
-- Name: exercises_in_programs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.exercises_in_programs_id_seq OWNED BY public.exercises_in_programs.id;


--
-- Name: exercises_train_muscles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercises_train_muscles (
    muscle_id integer NOT NULL,
    exercise_id integer NOT NULL
);


ALTER TABLE public.exercises_train_muscles OWNER TO postgres;

--
-- Name: muscles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.muscles (
    id integer NOT NULL,
    common_name text NOT NULL,
    scientific_name text
);


ALTER TABLE public.muscles OWNER TO postgres;

--
-- Name: muscles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.muscles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.muscles_id_seq OWNER TO postgres;

--
-- Name: muscles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.muscles_id_seq OWNED BY public.muscles.id;


--
-- Name: program_content; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.program_content (
    id integer NOT NULL,
    week_number integer NOT NULL,
    program_id integer NOT NULL
);


ALTER TABLE public.program_content OWNER TO postgres;

--
-- Name: program_content_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.program_content_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.program_content_id_seq OWNER TO postgres;

--
-- Name: program_content_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.program_content_id_seq OWNED BY public.program_content.id;


--
-- Name: sets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sets (
    id integer NOT NULL,
    workout_id integer NOT NULL,
    exercise_id integer NOT NULL,
    weight real NOT NULL,
    reps integer NOT NULL,
    is_failure boolean DEFAULT false NOT NULL,
    is_drop_set boolean DEFAULT false NOT NULL,
    rpe integer
);


ALTER TABLE public.sets OWNER TO postgres;

--
-- Name: sets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sets_id_seq OWNER TO postgres;

--
-- Name: sets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sets_id_seq OWNED BY public.sets.id;


--
-- Name: user_body_metrics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_body_metrics (
    id integer NOT NULL,
    user_id integer NOT NULL,
    weight real,
    muscle_mass real,
    recorded_at timestamp without time zone DEFAULT now() NOT NULL,
    body_fat_percentage real,
    waist_circumference real
);


ALTER TABLE public.user_body_metrics OWNER TO postgres;

--
-- Name: user_body_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_body_metrics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_body_metrics_id_seq OWNER TO postgres;

--
-- Name: user_body_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_body_metrics_id_seq OWNED BY public.user_body_metrics.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email text NOT NULL,
    username text NOT NULL,
    password_hash text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    age integer,
    gender text,
    height real,
    goal text,
    google_id text,
    reset_password_token text,
    reset_password_expires timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_current_workout_programs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_current_workout_programs (
    user_id integer NOT NULL,
    program_id integer NOT NULL
);


ALTER TABLE public.users_current_workout_programs OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: workout_programs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workout_programs (
    id integer NOT NULL,
    name text NOT NULL,
    created_by_id integer
);


ALTER TABLE public.workout_programs OWNER TO postgres;

--
-- Name: workout_programs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.workout_programs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.workout_programs_id_seq OWNER TO postgres;

--
-- Name: workout_programs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.workout_programs_id_seq OWNED BY public.workout_programs.id;


--
-- Name: workouts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workouts (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type text NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    program_content_id integer,
    duration_seconds integer,
    finished_at timestamp without time zone
);


ALTER TABLE public.workouts OWNER TO postgres;

--
-- Name: workouts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.workouts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.workouts_id_seq OWNER TO postgres;

--
-- Name: workouts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.workouts_id_seq OWNED BY public.workouts.id;


--
-- Name: exercises id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises ALTER COLUMN id SET DEFAULT nextval('public.exercises_id_seq'::regclass);


--
-- Name: exercises_in_programs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises_in_programs ALTER COLUMN id SET DEFAULT nextval('public.exercises_in_programs_id_seq'::regclass);


--
-- Name: muscles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.muscles ALTER COLUMN id SET DEFAULT nextval('public.muscles_id_seq'::regclass);


--
-- Name: program_content id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.program_content ALTER COLUMN id SET DEFAULT nextval('public.program_content_id_seq'::regclass);


--
-- Name: sets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sets ALTER COLUMN id SET DEFAULT nextval('public.sets_id_seq'::regclass);


--
-- Name: user_body_metrics id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_body_metrics ALTER COLUMN id SET DEFAULT nextval('public.user_body_metrics_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: workout_programs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_programs ALTER COLUMN id SET DEFAULT nextval('public.workout_programs_id_seq'::regclass);


--
-- Name: workouts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workouts ALTER COLUMN id SET DEFAULT nextval('public.workouts_id_seq'::regclass);


--
-- Data for Name: exercises; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercises (id, name, video_url, description) FROM stdin;
1	Barbell Bench Press	\N	\N
3	Pull-ups	\N	\N
4	Lat Pulldown	\N	\N
5	Barbell Back Squat	\N	\N
6	Romanian Deadlift	\N	\N
7	Overhead Press	\N	\N
8	Conventional Deadlift	\N	\N
9	Bulgarian Split Squat	\N	\N
2	Incline Dumbbell Press	https://www.youtube.com/watch?v=8iPEnn-ltC8	\N
13	Dumbbell Bicep Curl	https://www.youtube.com/watch?v=ykJmrZ5v0Oo	Keep elbows pinned to your sides and curl the dumbbells up smoothly.
14	test	https://www.youtube.com/watch?v=KVwu3H5ESVk&pp=ugUEEgJydQ%3D%3D	test
\.


--
-- Data for Name: exercises_in_programs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercises_in_programs (id, program_content_id, exercise_id, sets, first_set_rep_count, weight, week_day) FROM stdin;
1	1	5	1	8	100	0
2	1	1	1	6	85	0
3	1	8	1	5	120	2
\.


--
-- Data for Name: exercises_train_muscles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exercises_train_muscles (muscle_id, exercise_id) FROM stdin;
1	1
6	1
1	2
2	3
7	3
2	4
3	5
4	6
5	7
9	8
1	13
7	13
8	14
\.


--
-- Data for Name: muscles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.muscles (id, common_name, scientific_name) FROM stdin;
1	Chest	Pectoralis Major
2	Lats	Latissimus Dorsi
3	Quadriceps	Quadriceps Femoris
4	Hamstrings	Biceps Femoris
5	Deltoids	Deltoideus
6	Triceps	Triceps Brachii
7	Biceps	Biceps Brachii
8	Abs	Rectus Abdominis
9	Lower Back	Erector Spinae
\.


--
-- Data for Name: program_content; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.program_content (id, week_number, program_id) FROM stdin;
1	1	1
\.


--
-- Data for Name: sets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sets (id, workout_id, exercise_id, weight, reps, is_failure, is_drop_set, rpe) FROM stdin;
1	1	1	85	8	t	f	10
18	27	3	801	8	t	f	10
19	27	3	801	8	f	f	10
20	28	1	80	8	t	f	10
21	28	1	80	8	t	f	10
22	29	3	80	8	f	f	10
23	29	3	80	8	f	f	7
24	29	3	80	8	t	f	5
25	31	2	80	8	t	f	10
29	47	4	80	8	t	f	10
30	49	4	80	8	t	f	10
31	49	1	80	8	t	f	10
36	63	2	80	8	t	f	10
39	65	1	80	8	t	f	10
40	65	13	80	8	t	f	10
41	66	2	80	8	t	f	10
42	67	1	80	8	t	f	10
43	73	2	80	8	t	f	10
44	74	2	80	8	t	f	10
45	75	2	80	8	t	f	10
\.


--
-- Data for Name: user_body_metrics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_body_metrics (id, user_id, weight, muscle_mass, recorded_at, body_fat_percentage, waist_circumference) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_current_workout_programs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_current_workout_programs (user_id, program_id) FROM stdin;
\.


--
-- Data for Name: workout_programs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workout_programs (id, name, created_by_id) FROM stdin;
1	HIT Classic Full Body	\N
\.


--
-- Data for Name: workouts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: exercises_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercises_id_seq', 14, true);


--
-- Name: exercises_in_programs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercises_in_programs_id_seq', 3, true);


--
-- Name: muscles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.muscles_id_seq', 9, true);


--
-- Name: program_content_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.program_content_id_seq', 1, true);


--
-- Name: sets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sets_id_seq', 45, true);


--
-- Name: user_body_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_body_metrics_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 17, true);


--
-- Name: workout_programs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.workout_programs_id_seq', 1, true);


--
-- Name: workouts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.workouts_id_seq', 75, true);


--
-- Name: exercises_in_programs exercises_in_programs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises_in_programs
    ADD CONSTRAINT exercises_in_programs_pkey PRIMARY KEY (id);


--
-- Name: exercises exercises_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises
    ADD CONSTRAINT exercises_name_key UNIQUE (name);


--
-- Name: exercises exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises
    ADD CONSTRAINT exercises_pkey PRIMARY KEY (id);


--
-- Name: exercises_train_muscles exercises_train_muscles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises_train_muscles
    ADD CONSTRAINT exercises_train_muscles_pkey PRIMARY KEY (muscle_id, exercise_id);


--
-- Name: muscles muscles_common_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.muscles
    ADD CONSTRAINT muscles_common_name_key UNIQUE (common_name);


--
-- Name: muscles muscles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.muscles
    ADD CONSTRAINT muscles_pkey PRIMARY KEY (id);


--
-- Name: program_content program_content_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.program_content
    ADD CONSTRAINT program_content_pkey PRIMARY KEY (id);


--
-- Name: sets sets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sets
    ADD CONSTRAINT sets_pkey PRIMARY KEY (id);


--
-- Name: user_body_metrics user_body_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_body_metrics
    ADD CONSTRAINT user_body_metrics_pkey PRIMARY KEY (id);

--
-- Name: user_body_metrics user_body_metrics_at_least_one_metric; Type: CHECK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_body_metrics
    ADD CONSTRAINT user_body_metrics_at_least_one_metric CHECK ((weight IS NOT NULL OR body_fat_percentage IS NOT NULL OR muscle_mass IS NOT NULL OR waist_circumference IS NOT NULL));


--
-- Name: users_current_workout_programs users_current_workout_programs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_current_workout_programs
    ADD CONSTRAINT users_current_workout_programs_pkey PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_google_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_google_id_key UNIQUE (google_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: workout_programs workout_programs_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_programs
    ADD CONSTRAINT workout_programs_name_key UNIQUE (name);


--
-- Name: workout_programs workout_programs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_programs
    ADD CONSTRAINT workout_programs_pkey PRIMARY KEY (id);


--
-- Name: workouts workouts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workouts
    ADD CONSTRAINT workouts_pkey PRIMARY KEY (id);


--
-- Name: exercises_in_programs exercises_in_programs_exercise_id_exercises_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises_in_programs
    ADD CONSTRAINT exercises_in_programs_exercise_id_exercises_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id) ON DELETE CASCADE;


--
-- Name: exercises_in_programs exercises_in_programs_ul6ASHOUSIsv_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises_in_programs
    ADD CONSTRAINT "exercises_in_programs_ul6ASHOUSIsv_fkey" FOREIGN KEY (program_content_id) REFERENCES public.program_content(id) ON DELETE CASCADE;


--
-- Name: exercises_train_muscles exercises_train_muscles_exercise_id_exercises_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises_train_muscles
    ADD CONSTRAINT exercises_train_muscles_exercise_id_exercises_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id) ON DELETE CASCADE;


--
-- Name: exercises_train_muscles exercises_train_muscles_muscle_id_muscles_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercises_train_muscles
    ADD CONSTRAINT exercises_train_muscles_muscle_id_muscles_id_fkey FOREIGN KEY (muscle_id) REFERENCES public.muscles(id) ON DELETE CASCADE;


--
-- Name: program_content program_content_program_id_workout_programs_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.program_content
    ADD CONSTRAINT program_content_program_id_workout_programs_id_fkey FOREIGN KEY (program_id) REFERENCES public.workout_programs(id) ON DELETE CASCADE;


--
-- Name: sets sets_exercise_id_exercises_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sets
    ADD CONSTRAINT sets_exercise_id_exercises_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id) ON DELETE CASCADE;


--
-- Name: sets sets_workout_id_workouts_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sets
    ADD CONSTRAINT sets_workout_id_workouts_id_fkey FOREIGN KEY (workout_id) REFERENCES public.workouts(id) ON DELETE CASCADE;


--
-- Name: user_body_metrics user_body_metrics_user_id_users_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_body_metrics
    ADD CONSTRAINT user_body_metrics_user_id_users_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;

--
-- Name: user_body_metrics_user_recorded_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_body_metrics_user_recorded_idx ON public.user_body_metrics USING btree (user_id, recorded_at);


--
-- Name: users_current_workout_programs users_current_workout_programs_YcNyOgrYNer7_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_current_workout_programs
    ADD CONSTRAINT "users_current_workout_programs_YcNyOgrYNer7_fkey" FOREIGN KEY (program_id) REFERENCES public.workout_programs(id) ON DELETE CASCADE;


--
-- Name: users_current_workout_programs users_current_workout_programs_user_id_users_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_current_workout_programs
    ADD CONSTRAINT users_current_workout_programs_user_id_users_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: workout_programs workout_programs_created_by_id_users_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workout_programs
    ADD CONSTRAINT workout_programs_created_by_id_users_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: workouts workouts_program_content_id_program_content_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workouts
    ADD CONSTRAINT workouts_program_content_id_program_content_id_fkey FOREIGN KEY (program_content_id) REFERENCES public.program_content(id) ON DELETE SET NULL;


--
-- Name: workouts workouts_user_id_users_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workouts
    ADD CONSTRAINT workouts_user_id_users_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict qA7N1idtmC78brr4OfmJoDs9srdKEK2d0CfcoxVI9ADwhBrPbKPnf3VMaY0WC4e

